<section class="care container">
  <h2 class="text-center title2">Life Saver</h2>
  <article>
    <p>Excitavit hic ardor milites per municipia plurima, quae isdem conterminant, dispositos et castella, sed quisque serpentes latius pro viribus repellere moliens, nunc globis confertos, aliquotiens et dispersos multitudine superabatur ingenti, quae nata et educata inter editos recurvosque ambitus montium eos ut loca plana persultat et mollia, missilibus obvios eminus lacessens et ululatu truci perterrens.</p>
  </article>
  <div class="cards">
    <div class="card-product">
      <i class="fas fa-star-of-life fa-3x"></i>
      <div class="card-product-infos">
        <h2>GROUPE SANGUIN</h2>
        <p>Product description with <strong>relevant info</strong> only.</p>
      </div>
    </div>
    <div class="card-product">
      <i class="fas fa-user fa-3x"></i>
      <div class="card-product-infos">
        <h2>INFORMATIONS PERSONNELLES</h2>
        <p>Product description with <strong>relevant info</strong> only.</p>
      </div>
    </div>
    <div class="card-product">
      <i class="fas fa-allergies fa-3x"></i>
      <div class="card-product-infos">
        <h2>ALLERGIES</h2>
        <p>Product description with <strong>relevant info</strong> only.</p>
      </div>
    </div>
    <div class="card-product">
      <i class="fas fa-heart fa-3x"></i>
      <div class="card-product-infos">
        <h2>PERSONNE A CONTACTER</h2>
        <p>Product description with <strong>relevant info</strong> only.</p>
      </div>
    </div>
    <div class="card-product">
      <i class="fas fa-briefcase-medical fa-3x"></i>
      <div class="card-product-infos">
        <h2>ANTECEDENTS</h2>
        <p>Product description with <strong>relevant info</strong> only.</p>
      </div>
    </div>
    <div class="card-product">
      <i class="fas fa-user-friends fa-3x"></i>
      <div class="card-product-infos">
        <h2>PARENTS</h2>
        <p>Product description with <strong>relevant info</strong> only.</p>
      </div>
    </div>
    <div class="card-product">
      <i class="fas fa-syringe fa-3x"></i>
      <div class="card-product-infos">
        <h2>VACCINS</h2>
        <p>Product description with <strong>relevant info</strong> only.</p>
      </div>
    </div>
    <div class="card-product">
      <i class="fas fa-user-md fa-3x"></i>
      <div class="card-product-infos">
        <h2>MEDECIN</h2>
        <p>Product description with <strong>relevant info</strong> only.</p>
      </div>
    </div>
    <div class="card-product">
      <i class="fas fa-baby fa-3x"></i>
      <div class="card-product-infos">
        <h2>AGE</h2>
        <p>Product description with <strong>relevant info</strong> only.</p>
      </div>
    </div>
    <div class="card-product">
      <i class="fas fa-clinic-medical fa-3x"></i>
      <div class="card-product-infos">
        <h2>ASSURANCE</h2>
        <p>Product description with <strong>relevant info</strong> only.</p>
      </div>
    </div>
  </div>
</section>
