.fa-briefcase-medical {
  color: #44f022;
}

.fa-heart {
  color: red;
}

.fa-star-of-life {
  color: #e21c31;
}

.fa-user-md {
  color: #a0ebf7;
}

.fa-clinic-medical {
  color: #367f3c;
}

.fa-syringe {
  color: #2402fc;
}

.fa-allergies {
  color: #d5ab04;
}

.fa-baby {
  color: pink;
}

.fa-user-friends {
  color: silver;
}

.fa-user {
  color: teal;
}
